*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

header{
    width: 180px;
    height: 100%;
    background-color: #396CAA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    margin: 5.5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /*background-image: url(); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    padding: 10px;
    width: 100%;
    font-size: 30px;
}

header a{
    color: white;
    border-bottom: 1px solid white;
}

nav{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

nav li{
    margin-bottom: 10px;
}

nav a{
    width: 100%;
    color: white;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav a i{
    font-size: 17px;
    margin-bottom: 10px;
}

main{
    width: calc(100% - 180px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formulario{
    padding: 10px;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 25px;
}


.convertidor-bin{
    padding: 5px;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.convertidor-dec{
    padding: 5px;
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.result{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.insert{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input{
    width: 60%;
    height: 70px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.048);
}

button{
    width: 40%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.048);
    background-color: #396CAA;
    color: white;
    font-size: 14px;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    align-items: center;
    justify-content: center;
}

/* Estilos para la tarjeta de ayuda */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de cerrar */
.close {
    color: #555;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: red;
}

@media screen and (max-width: 768px){
   
    body{
        flex-direction: column;
    }

    header{
        width: 100%;
        height: 13vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
    }

    nav ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .fa-solid,
    .fas {
        display: none;
    }

    .servi{
        display: none;
    }

    main{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    #formulario{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 25px;
    }

    .convertidor-bin,
    .convertidor-dec{
        margin-bottom: 30px;
        flex-direction: column;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .insert{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .result{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input{
        width: 80%;
        height: 70px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, 0.048);
    }

    
}
